/*
cd /Applications/MAMP/htdocs/sistemapanel/panel

*/

// vendorx-prefixes = webkit o moz official

// @import nib

// @import nib_fix

@import fonts

// @import normalize

color_0=#000 // color negro general
color_1=rgba(#E1ECED,0.5) // bg barra principal

// color_1=rgba(#5ab4e6,0.1) // bg barra principal

color_2=#CF6A27 // color secundario // el naranja
// color_2=#FA4B2A;
color_3=#004B91 // color de links // el azul
// color_3=#136CB2 // color de links // el azul
color_4=#283442   // color de bg menú
color_5=white // #fea100 // color de letra de menú // el blanco
// color_6=#fefef5
color_6=#fff5dd // #fea100 // color amarillo de resaltado

$verde=#89BC58;
// color_3=navy
// color_2=complement(color_3)
// color_1=#eee
// color_2=grey
// color_3=navy


//stylus stylus/css.styl -o . 


MAX_WIDTH=1450px // ancho maximo de la pagina
MENU_WIDTH=260px // ancho del menú
MARGIN_MENU=30px // distanci del menú al contenido
HEADER_HEIGHT=100px

BACKGROUND=''
// BACKGROUND='http//highperformancegraphics.org/previous/www_2011/img/bg_new.jpg'
// BACKGROUND='http//4.bp.blogspot.com/-kaJsrQy74E0/Ug6JH8GiwlI/AAAAAAAABvQ/XPme7YJ12rY/s1600/background_corporate4.jpg'


@import 'parts/general.styl'
@import 'parts/icons.styl'

@import 'parts/header.styl'
@import 'parts/menu_top.styl'
@import 'parts/menu_left.styl'

@import 'parts/bar.styl'
@import 'parts/filters.styl'
@import 'parts/list.styl'
@import 'parts/form.styl'
@import 'parts/reports.styl'
@import 'parts/detail.styl'

@import 'parts/footer.styl'

@import 'parts/comp_menu_float.styl'
@import 'parts/comp_menu_left.styl'
@import 'parts/comp_sub_items.styl'
@import 'parts/comp_pager.styl'


@import 'parts/page_index.styl'
// @import 'parts/page_login.styl'


@import 'parts/media_queries.styl'
// @import 'parts/maquina.styl'

