/*<?php 
include("../../include.php"); 
	
	//	
	$var['li-izq']=array('ena'=>'0');
	$var['li-der']=array('ena'=>'0');
	$var['li']=array('h'=>'30');
	$var['a-izq']=array('ena'=>'0');
	$var['a-der']=array('ena'=>'0');
	$var['a']=array(
			'p-lados'=>'16',
			'size'=>'12',
			'color'=>'#FFF',
			'bg'=>'#096EB4',
			'color-sel'=>'#FFF',
			'bg-sel'=>'#6E6E6E'
	);
$var=preprocessvarscss($var);

	$var['a']['p-t'] = 6;
	$var['a']['p-b'] = 6;	
	$var['a']['h'] = $var['li']['h'] - $var['a']['p-t'] - $var['a']['p-b'];

$var=processvarscss($var);

?>*/

	<?php echo $name;?> .area_menu  .div_menu_izq,
	<?php echo $name;?> .area_menu  .div_menu_der,
	<?php echo $name;?> .area_menu  ul li,
	<?php echo $name;?> .area_menu  ul li .menu_izq, 
	<?php echo $name;?> .area_menu  ul li .menu_der,
	<?php echo $name;?> .area_menu  ul .div_menu_float_izq, 
	<?php echo $name;?> .area_menu  ul .div_menu_float_der 	 
	 { height:<?php echo $var['li']['h'];?>; overflow:none !important; overflow:hidden; }

	<?php echo $name;?> .area_menu  { background-color:<?php echo $var['a']['bg'];?>; /* background-image: url(../img/menu_main/div_menu.jpg); */ }
	/*	.menu_main .div_menu_izq, .menu_main .div_menu_der { height:29px;width:4px; }
		.menu_main .div_menu_izq { background-image: url(../img/menu_main/div_menu_izq.jpg); }
		.menu_main .div_menu_der { background-image: url(../img/menu_main/div_menu_der.jpg); }*/
		
	<?php echo $name;?> .area_menu  ul { padding:0 0 0 0px; }
	<?php echo $name;?> .area_menu  ul li { margin:0 0px 0 0px;  	}					
	<?php echo $name;?> .area_menu  ul li.ultimo { margin:0; border:0; background:none; }
	
	/*<?php echo $name;?> .area_menu  ul li .menu_izq, <?php echo $name;?> .area_menu  ul li .menu_der { width:16px; height:29px; }*/
	
	<?php echo $name;?> .area_menu  ul li { 	background-image: url(item_bg.jpg); background-color:<?php echo $var['a']['bg'];?>; background-repeat:no-repeat; background-position:right 12px; }
		/*.menu_main ul li .menu_izq { background-image: url(../img/menu_main/item_izq.jpg); }
		.menu_main ul li .menu_der { background-image: url(../img/menu_main/item_der.jpg); }*/
				
	<?php echo $name;?> .area_menu  ul li.selected,	<?php echo $name;?> .area_menu  ul li:hover { background-color:<?php echo $var['a']['bg-sel'];?>; border-bottom:0; }	
		/*<?php echo $name;?> .area_menu  ul li.selected .menu_izq, <?php echo $name;?> .area_menu  ul li:hover .menu_izq { background-image: url(../img/menu_main/item_selected_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li.selected .menu_der, <?php echo $name;?> .area_menu  ul li:hover .menu_der { background-image: url(../img/menu_main/item_selected_der.jpg); }*/

	<?php echo $name;?> .area_menu  ul li a.line_0 { color:<?php echo $var['a']['color'];?>; display:block; font-weight:bold; 
	padding: <?php echo $var['a']['p-t'];?> <?php echo $var['a']['p-lados'];?> <?php echo $var['a']['p-b'];?>; 
	float:left; height:<?php echo $var['a']['h'];?>; font-size:<?php echo $var['a']['size'];?>; }
	<?php echo $name;?> .area_menu  ul li.selected a.line_0 { color:<?php echo $var['a']['color-sel'];?>; text-decoration:underline;	}
	<?php echo $name;?> .area_menu  ul li:hover a.line_0 { color:<?php echo $var['a']['color-sel'];?>;	 }
	<?php echo $name;?> .area_menu  ul li a.line_0:hover { text-decoration:underline; }		
	

	