/*<?php include("../../include.php"); ?>*/

	<?php echo $name;?> { background-color:#FFF; }
	<?php echo $name;?> .div_borde{ border:0;	
								 height:auto !important; height:249px; min-height:249px;
								 background-color:#FFF;	
								 border-bottom:2px solid #C92665;
	}

	<?php echo $name;?> .barra_arriba {
									height:auto !important; height:16px; min-height:16px;
									background-color:#E4E4E4;
									padding:14px 0px 5px 10px; 
									color:#C92665; font-size:14px; font-weight:bold; text-transform:uppercase; position:relative; }
	
		