

<?php echo $name;?> ul.arbol_items { padding:0px 0px 0px 0px; overflow:hidden; <?php echo $var['ul']['s'];?>  }
<?php echo $name;?> ul.arbol_items li { margin:0; overflow:hidden; height:auto !important; height:<?php echo $var['li']['h'];?>; min-height:<?php echo $var['li']['h'];?>; clear:left; <?php echo $var['li']['s'];?>}
<?php echo $name;?> ul.arbol_items li a { color:<?php echo $var['li']['color'];?>; display:block; font-size:<?php echo $var['li']['size'];?>; text-transform:capitalize; }

<?php echo $name;?> ul.arbol_items li.menu_nivel_1 { 
					border-top:1px solid #FFFFFF; 
					padding: <?php echo $var['nivel1']['p'];?>; 
					padding-left: <?php echo $var['nivel1']['p-l'];?>; 
					background-color:<?php echo $var['nivel1']['bg'];?>;
					/*<?php if(trim($var['nivel1']['ima'])!='' and $var['nivel1']['ima']!='0'){ ?>*/background-image: url(menu_ico_nivel_1.<?php echo $var['nivel1']['ima'];?>) !important; background-image:none;/*<?php } ?>*/
					background-repeat:no-repeat;			
					/*background:#890000 url(menu_ico_nivel_1.gif) no-repeat 9px 5px;*/
}
<?php echo $name;?> ul.arbol_items li.menu_nivel_1 {
	<?php echo $var['nivel1']['s'];?>
}
<?php echo $name;?> ul.arbol_items li.menu_nivel_1 a {
	color:<?php echo $var['nivel1']['color'];?>;
	<?php echo $var['nivel1']['a-s'];?>
}

<?php echo $name;?> ul.arbol_items li.menu_nivel_2 {
					border-top:1px solid #FFFFFF; 
					padding: <?php echo $var['nivel2']['p'];?>;
					padding-left: <?php echo $var['nivel2']['p-l'];?>;
					background-color:<?php echo $var['nivel2']['bg'];?>;
					/*<?php if(trim($var['nivel2']['ima'])!='' and $var['nivel2']['ima']!='0'){ ?>*/background-image: url(menu_ico_nivel_2.<?php echo $var['nivel2']['ima'];?>) !important; background-image:none;/*<?php } ?>*/
					background-repeat:no-repeat;
					background-position:15px 5px;
}
<?php echo $name;?> ul.arbol_items li.menu_nivel_2 {
	<?php echo $var['nivel2']['s'];?>
}
<?php echo $name;?> ul.arbol_items li.menu_nivel_2 a {
	color:<?php echo $var['nivel2']['color'];?>;
	<?php echo $var['nivel2']['a-s'];?>
}

<?php echo $name;?> ul.arbol_items li.menu_nivel_3 {
					border-top:1px solid #FFFFFF; 
					padding: <?php echo $var['nivel3']['p'];?>;
					padding-left: <?php echo $var['nivel3']['p-l'];?>;
					background-color:<?php echo $var['nivel3']['bg'];?>;
					/*<?php if(trim($var['nivel3']['ima'])!='' and $var['nivel3']['ima']!='0'){ ?>*/background-image: url(menu_ico_nivel_3.<?php echo $var['nivel3']['ima'];?>) !important; background-image:none;/*<?php } ?>*/
					background-repeat:no-repeat;
					background-position:21px 5px;																				
}					
<?php echo $name;?> ul.arbol_items li.menu_nivel_3 {
	<?php echo $var['nivel2']['s'];?>
}
<?php echo $name;?> ul.arbol_items li.menu_nivel_3 a {
	color:<?php echo $var['nivel3']['color'];?>;
	<?php echo $var['nivel3']['a-s'];?>
}

<?php echo $name;?> ul.arbol_items li.selected a,
<?php echo $name;?> ul.arbol_items li:hover a { color:<?php echo $var['sel']['color'];?>; }
<?php echo $name;?> ul.arbol_items li.selected,
<?php echo $name;?> ul.arbol_items li:hover { 
					background-color:<?php echo $var['sel']['bg'];?>;			
					background-repeat:no-repeat;
					<?php echo $var['sel']['s'];?>															
}					

<?php echo $name;?> ul.arbol_items li .fecha { <?php echo $var['fecha']['s'];?> }
<?php echo $name;?> ul.arbol_items li .label { <?php echo $var['label']['s'];?> }
<?php echo $name;?> ul.arbol_items li .texto { <?php echo $var['texto']['s'];?> }