/*<?php include("../../include.php"); ?>*/


<?php echo $name;?> {
position:relative; clear:both;
background-color:#FFFFFF;
height:auto; padding:10px 10px 20px 10px;
}
<?php echo $name;?> .footer_info {
text-align:center;
font-size:12px;
}
<?php echo $name;?> .footer_info a { color:#000099; }
<?php echo $name;?> .footer_by {
text-align:center;
/*left:0px; width:100%; bottom:30px; position:absolute; */
height:auto; display:block;
}
<?php echo $name;?> .footer_by a{ color:#666666; }