/*<?php include("../../include.php"); ?>*/


	<?php echo $name;?> .area_menu  .div_menu_izq,
	<?php echo $name;?> .area_menu  .div_menu_der,
	<?php echo $name;?> .area_menu  ul,
	<?php echo $name;?> .area_menu  ul li,
	<?php echo $name;?> .area_menu  ul li .menu_izq, 
	<?php echo $name;?> .area_menu  ul li .menu_der,
	<?php echo $name;?> .area_menu  ul .div_menu_float_izq, 
	<?php echo $name;?> .area_menu  ul .div_menu_float_der 	 
	 { height:24px; }

	<?php echo $name;?> .area_menu  { background: #999999; border-top:2px solid #999999; }
		/*
		<?php echo $name;?> .area_menu  .div_menu_izq { width:200px; background-image: url(div_menu_izq.png); }
		<?php echo $name;?> .area_menu  .div_menu_der { width:0px; background-image: url(div_menu_der.png); }
		<?php echo $name;?> .area_menu  .div_menu_float_izq { width:28px; background-image: url(div_menu_float_izq.png); }
		<?php echo $name;?> .area_menu  .div_menu_float_der { width:7px; background-image: url(div_menu_float_der.png); }
		*/
		
	<?php echo $name;?> .area_menu  ul { padding:0 0 0 0px; }
	<?php echo $name;?> .area_menu  ul li { margin:0 10px 0 0px; 	}					
	<?php echo $name;?> .area_menu  ul li.ultimo { margin:0; border-right:none; }
	
	<?php echo $name;?> .area_menu  ul li .menu_izq, <?php echo $name;?> .area_menu  ul li .menu_der { width:13px; }
	
	<?php echo $name;?> .area_menu  ul li { 				 background-color:#999999;/*background-image: url(item_bg.jpg);border-right:1px solid #3A5FA5;*/ }
		/*<?php echo $name;?> .area_menu  ul li .menu_izq { background-image: url(item_izq.jpg); }*/
		/*<?php echo $name;?> .area_menu  ul li .menu_der { background-image: url(item_der.jpg); }*/
				
	<?php echo $name;?> .area_menu  ul li.selected,				 <?php echo $name;?> .area_menu  ul li:hover { background:#FFF;	/*background-image: url(item_selected_bg.jpg);*/ }	
		/*<?php echo $name;?> .area_menu  ul li.selected .menu_izq, <?php echo $name;?> .area_menu  ul li:hover .menu_izq { background-image: url(item_selected_izq.jpg); }*/
		/*<?php echo $name;?> .area_menu  ul li.selected .menu_der, <?php echo $name;?> .area_menu  ul li:hover .menu_der { background-image: url(item_selected_der.jpg); }*/		

	<?php echo $name;?> .area_menu  ul li a.line_0 {			font-size:11px; color:#F1F1F1; font-weight:bold; text-transform:uppercase;	padding:6px 10px 4px; }
	<?php echo $name;?> .area_menu  ul li.selected a.line_0 { 	color:#000; }
	<?php echo $name;?> .area_menu  ul li a.line_0:hover { 		color:#000; text-decoration:underline; }	

		<?php echo $name;?> .area_menu  ul li.ultimo .menu_der, <?php echo $name;?> .area_menu  ul li.ultimo:hover .menu_der { /*background-image: url(item_ultimo_selected_der.jpg);*/ }		
		<?php echo $name;?> .area_menu  ul li.ultimo .menu_der { /*background-image: url(item_ultimo_der.jpg);*/ }
	
	