//
/**
DETAILS
**/
.title_detail
	text-transform uppercase
	font-family Helvetica
	font-weight bold
	font-size 1.5em
	margin 15px 0 5px 3px
	color #999
	
.detail
	.ldd
		display block
		float none
		padding-right 15px
	.tite
		font-variant initial    
		a
			font-family Helvetica
			text-decoration underline
			font-weight bold
	.hid0
	.hid1  
		margin-top 5px !important
		margin-bottom 5px !important
	.itms
		.hitm .itd
			font-size 1em
			line-height inherit  
		.hid1
			display block    
		.hitm
			a
				display none   
	.itms.padre 
		.hitm
			a
				display inline
	.itms_cont
		width auto    
		float left
		overflow auto
		clear left
	.legend
			padding 10px 0 10px 4px
			clear left
			background #f8f8f8 !important
			width 100%
			margin 10px 0 !important  
			text-transform uppercase
			border 0
	a.ie
		position relative
		top 0
		right 0
		i
			position relative
			top 0
			right 8px
		&:hover
			text-decoration none
	.lec
		width 100%
		top 0
		right 0 
		position relative         
	.lc
		margin-left -34px !important  
		// width 50%
		right 0
		top 0
	.lid 
		display none 
	.bl
		padding-left 20px !important
		padding-left 10px !important
		box-sizing border-box
		min-height 400px
		padding-bottom 50px    
		// box-shadow 0 0 10px #efefef inset
		.bld
			padding-bottom 10px
			&.ltxt
				.nc
				.bd
					width 100% !important
					max-width 100% !important          
			.nc
				padding-left 2px
			.pt
				min-width 200px  
		.bld:hover
			text-decoration none !important      
		.bd
			width auto !important
			display inline-block
			max-width 80%    
			min-width 100px !important
			.currency
				text-align left
		.linea_derecha
			float left
			width auto
			clear none !important
			.nc
				width auto !important
				padding-right 15px
				padding-left 15px
			.bd
				min-width 100px
		.linea_derecha_inicio
			float none
			width auto
			padding-bottom 0
			min-height 25px
			b
				width 100px
		.mn
			font-size 1em  
		.htmlenlista
			max-height 100%    
			p
				margin 0.5em 0
				line-height inherit
				text-transform initial
				// font-size 1.1em
	.braz
	.expanlink
	.colaplink    
		display none    
	.itms_cont      
		.itms
			clear left !important    
	// .lifmf
	//   width 100% !important
	//   .bl
	//     width 100% !important
	//   .nc
	//     display none      
			

.more_detail 
	display block
	width 100%
	clear both


		
//