
<?php echo $name;?> { overflow:visible; }

<?php echo $name;?> .listado_items { margin-top:0px; }

<?php echo $name;?> .listado_items .vacio { padding-left:0px; }

/*PAGINACION <?php if($var['paginacion']['ena']){ ?>*/

	<?php echo $name;?> .listado_paginacion { <?php echo $var['paginacion']['dis']; ?> text-align:right; }
	
	<?php echo $name;?> .listado_paginacion, 
	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { font-size:13px; text-transform:lowercase; color:none; }

	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { margin:0 8px; }	
	
	<?php echo $name;?> .listado_paginacion .total { float:left; margin-left:14px; }
	
	<?php echo $name;?> .listado_paginacion .linkpagselec	{
	color:#999; font-weight:bold;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag {
	font-weight:bold; color:none; text-decoration:underline;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag:hover {
	/*color:inherit;*/
	}
/*<?php } ?>*/

/*listado*/

<?php echo $name;?> ul.listado_columna {
width:<?php echo $var['fila']['w'];?>; float:<?php echo $var['fila']['float'];?>;
position:relative;
margin:0; padding:0;
margin-right:0px !important; margin-right:-1%;
}

<?php echo $name;?> ul.listado_items  {
padding-bottom:10px;
padding-top:10px;
margin-bottom:10px;
}

/*ITEM <?php if($var['item']['ena']){ ?>*/

<?php echo $name;?> .listado_item  { 
position:relative;
height:auto; float:left; clear:none;
padding:0;border:0;margin:0;
width:<?php echo $var['item']['w'];?>;
margin-right:0px !important; margin-right:-1%;
margin-top:0px;
}

<?php echo $name;?> .listado_item a{
color:inherit;
text-decoration:none;
}

<?php echo $name;?> .listado_item a:hover{
text-decoration:underline;
}
	/*FOTO SANGRIA <?php if($var['foto']['sangria']){ ?>*/
	<?php echo $name;?> .listado_item_con_foto { 
	padding-left:<?php echo $var['foto']['p-l'];?>;
	height:auto !important; height:<?php echo $var['foto']['h'];?>; min-height:<?php echo $var['foto']['h'];?>; 
	}
	<?php echo $name;?> .listado_item a.foto {
	position:absolute;  top:0px; left:5px ;	
	}
	/*<?php } ?>*/
	
	/*FOTO <?php if($var['foto']['ena']){ ?>*/	
	<?php echo $name;?> .listado_item a.foto {
	width:<?php echo $var['foto']['w'];?>; height:<?php echo $var['foto']['h'];?>; 
	text-align:center;
	overflow:hidden;
	display:block;
	margin:0 auto;
	background-color:<?php echo $var['foto']['bg'];?>;
	border-color:<?php echo $var['foto']['borde'];?>;
	border-style:solid;
	border-width: <?php echo $var['foto']['borde-w'];?>;
	padding: <?php echo $var['foto']['p'];?>;
	top:4px;
	}
	
	<?php echo $name;?> .listado_item .foto strong.legend{
		position:absolute; background-color:#000; opacity:0.7; font-weight:normal; color:#FFF; display:block; left:0px; bottom:0px; width:100%; height:auto;
	}	

	<?php echo $name;?> .listado_item .foto a {	display:block; position:relative; height:auto; width:auto; }

	<?php echo $name;?> .listado_item .foto a :hover {
	background-color:<?php echo $var['foto']['bg-sel'];?>;
	border-color:<?php echo $var['foto']['borde-sel'];?>;
	}
	
	<?php echo $name;?> .listado_item a.foto:hover strong.legend{
		opacity:1;
	}
		
	/*<?php } ?>*/
	
	/*FECHA <?php if($var['fecha']['ena']){ ?>*/	
	<?php echo $name;?> .listado_item .fecha {
	font-size:10px; font-weight:normal; display:block;
	color:#43567E; text-decoration:underline;
	}	
	/*<?php } ?>*/
	
	/*TITULO <?php if($var['titulo']['ena']){ ?>*/
		<?php echo $name;?> .titulo {
		height:auto;overflow:hidden; clear:left; margin-top:0px;padding:0 5px;
		}
		<?php echo $name;?> .titulo, <?php echo $name;?> .listado_item .titulo a {
		font-size:<?php echo $var['titulo']['size'];?>; font-weight:<?php echo $var['titulo']['weight'];?>;text-transform:<?php echo $var['titulo']['text'];?>;  
		font-family:calibri;
		color:<?php echo $var['titulo']['color'];?>; background-color:<?php echo $var['titulo']['bg'];?>; 
		text-align:<?php echo $var['titulo']['align'];?>; display:block;
	}
	/*<?php } ?>*/

	/*SUBTITULO <?php if($var['subtitulo']['ena']){ ?>*/
	<?php echo $name;?> .listado_item .subtitulo {
		display:block;
		margin-bottom:7px;
		padding:0 5px;
		}	
		<?php echo $name;?> .listado_item .subtitulo, <?php echo $name;?> .listado_item .subtitulo a {
		font-size:<?php echo $var['subtitulo']['size'];?>; font-weight:<?php echo $var['subtitulo']['weight'];?>;text-transform:<?php echo $var['subtitulo']['text'];?>; 
		text-align:<?php echo $var['subtitulo']['align'];?>;
		color:<?php echo $var['subtitulo']['color'];?>;  display:block; clear:left;

		}			
	/*<?php } ?>*/
		
	/*TEXTO <?php if($var['texto']['ena']){ ?>*/
		<?php echo $name;?> .texto {
		display:block;
		margin-bottom:7px;
		padding:0 5px;
		<?php echo $var['texto']['s'];?>; 
		}	
		<?php echo $name;?> .texto, <?php echo $name;?> .texto a {
		font-size:<?php echo $var['texto']['size'];?>; font-weight:<?php echo $var['texto']['weight'];?>;text-transform:<?php echo $var['texto']['text'];?>; 
		text-align:<?php echo $var['texto']['align'];?>;
		color:<?php echo $var['texto']['color'];?>; clear:left;
		}			
	/*<?php } ?>*/
	/*PRECIO <?php if($var['precio']['ena']){ ?>*/
		<?php echo $name;?> .precio {
		display:block;
		}	
		<?php echo $name;?> .precio {
		<?php echo $var['precio']['s'];?>
		}			
	/*<?php } ?>*/	
<?php echo $name;?> .listado_item  .capa {
	padding-left:<?php echo $var['fila']['p-lados'];?>;
	padding-right:<?php echo $var['fila']['p-lados'];?>;
}
<?php echo $name;?> .listado_item  .inner {
position:relative;
/*<?php if($var['item']['min-h']!=''){ ?>*/
overflow:visible; height:auto !important; height:<?php echo $var['item']['min-h'];?>; min-height:<?php echo $var['item']['min-h'];?>;				
/*<?php } elseif($var['item']['h']!=''){ ?>*/
overflow:<?php echo ($var['item']['h']=='auto')?'visible':'hidden'; ?>; height:<?php echo $var['item']['h'];?> !important; height:<?php echo $var['item']['h'];?>;			
/*<?php } else { ?>*/
overflow:visible; height:auto !important; height:auto;
/*<?php } ?>*/
padding-bottom:0px;
padding-top:4px;
margin-bottom:6px;

background-color:<?php echo $var['item']['bg'];?>;
}

<?php echo $name;?> .listado_item:hover  .inner {
background-color:<?php echo $var['item']['bg-sel'];?>;
}
<?php echo $name;?> .bors {
/*<?php if($var['item']['bg-out']!=''){ ?>*/
background-color:<?php echo $var['item']['bg-out'];?>;
color:<?php echo $var['item']['bg'];?>;
/*<?php } else { ?>*/
display:none;
/*<?php } ?>*/
}

/*<?php } ?>*/




<?php echo $name;?> ul.listado_items  { 
	border-top:0;
	padding-top:0;
	margin-bottom:0;
}

<?php echo $name;?> .listado_item  .capa {
	border-right:0;
}

<?php echo $name;?> .listado_item  .inner {
	border-bottom:0;
}

<?php echo $name;?> .tren { 
	color:#000;
	<?php echo $var['tren']['fila-s']; ?> 
}
<?php echo $name;?> .tren .item { 
	font-size:<?php echo $var['tren']['size']; ?>; 
	color:<?php echo $var['tren']['color']; ?>; 
	margin-right:<?php echo $var['tren']['m-der']; ?>; 
	margin-left:<?php echo $var['tren']['m-izq']; ?>; 
	<?php echo $var['tren']['s']; ?> 
}