/*<?php include("../../include.php"); ?>*/

<?php echo $name;?> { background-color:#FFF; border:0; padding:0px; }
<?php echo $name;?> .div_borde{ clear:both;	
							/*height:auto !important; height:150px; min-height:150px;*/
							height:273px;
							background-color:#FFF;
							border:0;
							overflow:auto;
							position:relative;	
							 }					 

/*titulo*/

<?php echo $name;?> .barra_arriba {
	position:relative; height:auto; padding:10px 30px 7px;
	background:#A4ADBE url(item_bg.jpg) repeat-x; 
	font-size:15px;
	color:#FFFFFF;font-weight:bold;text-transform:capitalize;
	height:auto !important; height:18px; min-height:18px;
	}

	/*lados*/
	<?php echo $name;?> .arriba_izquierda {
	position:absolute;left:0px;top:0px;width:22px;height:35px;
	background:transparent url(item_izq.jpg);
	}
	<?php echo $name;?> .arriba_derecha {
	position:absolute;right:0px;top:0px;width:22px;height:35px;
	background:transparent url(item_der.jpg);
	}
	
