/*<?php include("../../include.php"); ?>*/


<?php echo $name;?> .listado_items .vacio { padding-left:0px; }

/*paginacion*/
	<?php echo $name;?> .listado_paginacion { text-align:right; }
	<?php echo $name;?> .listado_paginacion, 
	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { font-size:13px; text-transform:lowercase; color:#999; }

	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { margin:0 8px; }	
	
	<?php echo $name;?> .listado_paginacion .total { float:left; margin-left:14px; }
	
	<?php echo $name;?> .listado_paginacion .linkpagselec	{
	color:#999; font-weight:bold;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag {
	font-weight:bold; color:#ccc; text-decoration:underline;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag:hover {
	color:#fff;
	}


/**/

<?php echo $name;?> ul li table {
position:absolute; left:10px; top:10px;
width:96px; height:76px;
padding:0px; margin:0px; border:1px solid #D8D8D8;
}
<?php echo $name;?> ul li table td span.tabla {
overflow:hidden; float:left;width:96px; height:76px;
}
<?php echo $name;?> ul li a.nombre {
position:absolute;left:13px; top:96px; width:107px; height:15px;
 text-align:left;overflow:hidden; text-align:center;
color:#343434; font-size:11px; font-weight:normal;
}
<?php echo $name;?> ul li b.precio { display:none;
position:absolute;left:13px; top:113px; width:107px; height:15px;
color:#343434; font-size:13px; font-weight:bold; text-align:left;
}
<?php echo $name;?> ul li a.ver {
position:absolute;left:11px; top:132px; width:34px; height:15px;
background: transparent url(../img/ver_oferta.jpg) no-repeat scroll; display:block;
}

	<?php echo $name;?> .bloque_pie a { font-weight:bold; }
