/*<?php include("../../include.php"); ?>*/

	<?php echo $name;?> { background-color:#FFF; height:347px; overflow:auto; }
	<?php echo $name;?> .div_borde{ border:0;	
								 height:auto !important; height:249px; min-height:249px;
								 background-color:#F0EDFE;	
	}

	<?php echo $name;?> .barra_arriba {
									height:auto !important; height:16px; min-height:16px;
									background-image: url(barra_arriba.jpg); background-repeat:repeat-x;
									padding:4px 0px 9px 10px; 
									color:#333625; font-size:14px; font-weight:bold; text-transform:uppercase; position:relative; }
	
		