/*<?php 
include("../../include.php"); 

	$var=preprocessvarscss($var);

	$var=processvarscss($var);

?>*/

<?php echo $name;?> legend { 
/*<?php if($var['legend']['ena']){ ?>*/
font-weight:bold;
padding:15px 0 20px 0;
font-size:<?php echo $var['legend']['size'];?>; 
color:<?php echo $var['legend']['color'];?>;
/*<?php } else { ?>*/
display:none;
/*<?php } ?>*/
}

<?php echo $name;?> .camps {
margin:0px 0 10px; clear:left; float:left;
width:<?php echo $var['fila']['w'];?>;
color:<?php echo $var['fila']['color'];?>;
}
<?php echo $name;?> .camps label.name {
display: block;
color:<?php echo $var['label']['color'];?>;
font-weight:bold;
width:<?php echo $var['label']['w'];?>;
text-transform:uppercase;
text-align:<?php echo $var['label']['align'];?>;
}
<?php echo $name;?> .camps input.caja, 
<?php echo $name;?> .camps textarea.caja {
border: 1px solid <?php echo $var['input']['borde'];?>;
background-color:<?php echo $var['input']['bg'];?>;
font-size:12px; padding:1px 1px; color:<?php echo $var['input']['color'];?>;
width:<?php echo $var['input']['w'];?>;
float:left;
} 
<?php echo $name;?> .camps textarea.caja {
height:<?php echo $var['input']['ta-h'];?>;
}
<?php echo $name;?> .submit input.caja { 
padding:0 10px; font-size:12px;
}	
<?php echo $name;?> .camps small {
font-size:8px;color:<?php echo $var['small']['color'];?>; float:left; width:auto; height:auto;
}

<?php echo $name;?> .mensaje { margin-top:144px; }
