.tab-pane a:hover { text-decoration: none; }

.proyecto { font-family: 'Roboto'; }

.bloque h6 { font-family: 'Roboto'; }

.torres .bloque { width: 200px; float: left; margin-right: 10px; }

.torre  { }

.torre .inmu { 
	display: block; text-align: center; color: #000; 
    font-family: 'Helvetica';
    position: relative;
    font-weight: bold;
    min-width: 190px;
    font-size: 1em;
}

.torre .inmu .pares { 
	font-weight: normal;
	color: #333;
	font-size: 11px;
}

.depositos .inmu.disponible,
.estacionamientos .inmu.disponible,
.departamentos .inmu.disponible { 
	background-color: rgba(121, 242, 121, 0.7);
	min-height: 20px;
}
.disponible a:hover {
	text-decoration: underline;
}

.inmu.separado { 
	background-color: rgba(244, 184, 76, 0.7);
	cursor:not-allowed;
}

#estacionamientos .bloque, 
#depositos .bloque { clear: left;}

#estacionamientos .torre .inmu,
#depositos .torre .inmu {
   min-width: 40px;	
}

#estacionamientos .torre .inmu .pares,
#depositos .torre .inmu .pares {
	display:none;
}

/*
.inmu.separado:before { 
	content:"separado";
	position: absolute;
	font-weight: normal;
	font-variant: small-caps;	
	color:white;
	right: 3px;
}*/
.inmu.vendido { 
	background-color: rgba(253, 132, 132, 0.7);
	cursor:not-allowed;
}
/*.inmu.vendido:before { 
	content:"vendido";
	position: absolute;
	font-weight: normal;
	font-variant: small-caps;
	color:white;	
	left: 3px;
}*/
.inmu.agregado:after {
	font-family: 'icomoon';
	content:"\e682";
	position: absolute;
	right: 3px;
}
.torre .labe {
	text-align:right;
	font-weight:bold;
	text-transform: uppercase;
}
.torre .vals {
	text-align: right;
}
.torre a.cerrar {
	color:red;
	font-size: 13px;
}
.nav li a {
	font-weight: bold;
	text-transform: uppercase;
}
/*#cart .departamento { 
	background-color: #E0FFC1;
}

#cart .estacionamiento { 
	background-color: #A6DBFF;
}

#cart .deposito { 
	background-color: #FFFF99;
}	*/

/*.torre .inmu:hover { background-color: #F4C4A6; }*/

.jqibox { margin-top: -5px !important; }

.depa { margin-bottom:0px; }

.depa td { padding: 0 0px 0 3px !important; line-height: 15px; }

td.step1 img { max-width:200px !important; }

div.jqi .jqititle {
    padding: 0px 5px !important;
    border:0 !important;
}

div.jqi .jqimessage {
	padding: 0 5px !important;
}

div.jqi .jqibuttons {
background: none !important;
border:0 !important;
}

div.jqi button {
margin-right:0 !important;
}

#fb1 {
    position: absolute;
    bottom:0px;
    right:0px;
    display:none;
}

#cart table {
	margin-right: 0;
	margin-top: 149px;
	width: 100%;
}
body.quick {
	padding-bottom: 50px;
}
body.quick .leyenda {
	position: absolute;
	bottom: 0px
	left 0px;
}
body.quick .leyenda .inmu {
	min-width: 20px;
	min-height: 21px;
}
#myCarousel .item {
	text-align: center;
	line-height: 650px;
	vertical-align: middle;
}
#myCarousel {
	margin-bottom: 0px;
}
#myCarousel .item img {
	max-height: 650px;
	display: inline-block;
}
#jqistate_state1 .jqibuttons {
	position: absolute;
	right: 20px;
	top: 10px;
}
.table-condensed th, .table-condensed td {
	padding: 2px 5px;
}
#icontent1 h4 {
	margin:9px 0;
}