
//
// barra titulo
.bloque_titulo
    background rgba(225,236,237,0.5)
    .titulo
        color #000 !important
        float none !important
        font-size 1.3em
        strong, a.type_file
            float none
            // font-weight normal
            text-transform uppercase
            margin-left 0
    margin-bottom 10px
    min-height 30px
    padding 9px 5px 3px
    font-weight bold
    height auto
    border-radius 6px 6px 0 0
    border 1px rgba(black,0.2) solid !important
    a:hover
        text-decoration underline


