/*<?php include("../../include.php"); ?>*/



/*foto,titulo,nombre,fecha,texto*/

<?php echo $name;?> .listado_items { margin-top:0px; }

<?php echo $name;?> .listado_items .vacio { padding-left:0px; }

/*paginacion*/
	<?php echo $name;?> .listado_paginacion { text-align:right; }
	
	<?php echo $name;?> .listado_paginacion, 
	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { font-size:13px; text-transform:lowercase; color:none; }

	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { margin:0 8px; }	
	
	<?php echo $name;?> .listado_paginacion .total { float:left; margin-left:14px; }
	
	<?php echo $name;?> .listado_paginacion .linkpagselec	{
	color:#999; font-weight:bold;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag {
	font-weight:bold; color:none; text-decoration:underline;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag:hover {
	/*color:inherit;*/
	}

/*listado*/

<?php echo $name;?> .listado_item  { 
position:relative;
height:auto; float:none; clear:left;
padding:0;
margin-bottom:14px;
border-bottom:0;
padding-bottom:0;
padding-left:3px;
}
<?php echo $name;?> .listado_item a{
color:inherit;
text-decoration:none;
}
<?php echo $name;?> .listado_item a:hover{
text-decoration:underline;
}
	<?php echo $name;?> .listado_item .fecha {
	font-size:10px; font-weight:normal; display:block;
	color:#43567E; text-decoration:underline;
	}	
	<?php echo $name;?> .listado_item .titulo {
	margin-bottom:0;height:auto;overflow:hidden;
	}
	<?php echo $name;?> .listado_item .titulo, <?php echo $name;?> .listado_item .titulo a {
	font-size:11px; font-weight:normal;text-transform:capitalize;
	color:#43567E;
	}	
	<?php echo $name;?> .listado_item .texto {
	display:block;
	}
	<?php echo $name;?> .listado_item .texto, <?php echo $name;?> .listado_item .texto a {
	font-size:11px; font-weight:normal;
	color:#000;
	}			



