/*<?php include("../../include.php"); ?>*/


	<?php echo $name;?> { background-color:#FFF; }
	<?php echo $name;?> .div_borde{ border:0;	height:auto !important; 
								 height:249px; min-height:249px;	
	}
	<?php echo $name;?> .arriba_izquierda {display:none;}
	<?php echo $name;?> .arriba_derecha {display:none;}	
	<?php echo $name;?> .abajo_izquierda {display:none;}
	<?php echo $name;?> .abajo_derecha {display:none;}	

	<?php echo $name;?> .barra_arriba { 
									height:auto !important; height:16px; min-height:16px; 
									padding:15px 0px 0px 30px; 
									font-size:18px; font-weight:bold; text-transform:uppercase; position:relative; 
	 background-color:#FFFFFF; color:#2A4A73;
	 font-weight:bold; }	
	 
	<?php echo $name;?> .barra_abajo {height:31px; background-color:#FFF;left:1px; right:1px; bottom:1px !important; width:auto !important; width:100%;}
	


		 	