/*clean*/

.clean,
.clear
	zoom: 1;
	&:before,
	&:after
	  content: ""
	  display: table
	&:after
		clear: both

/*cuadros*/
.cuadro 
	position:relative
	height:auto
	background-repeat:repeat-y
	overflow:hidden
	.barra_abajo
		position:absolute
		left:0px
		bottom:0px !important
		bottom:-1px
		width:100%
		height:auto
		background-repeat:repeat-x
		overflow:hidden
		z-index:0


/*filas*/
.div_fila
	clear:both
	// float:left !important
	// float:none
	// width:100%
	height:auto
	position:relative
	display block
	margin-bottom 10px

.div_fila_margen 
	margin-bottom:10px


.div_fila_overflow 
	clear:both
	float:left !important
	float:none
	width:100%
	height:auto
	position:relative
	overflow:visible


/*columnas*/	
.div_columna 
	height:auto
	position:relative
	clear:none
	min-height:300px
	float left
	// background-color #ccc
	margin-bottom 10px
	// display inline-block


/*canvas*/
.div_canvas
	height:auto
	min-height:500px
	padding:0px
	background:none
	border:none
	border-top:0px
	clear:left
	float:none
	position:relative


/*main*/
.div_main 
	height:auto
	min-height:250px
	padding:0px
	background:none
	border-top:0px
	// width:753px


/*left*/	
.div_absoluto 
	position:absolute
	background-color:transparent
	background-repeat:no-repeat
	background-position:0px 0px


// /*left*/
// .div_left 
// 	background-color:none
// 	height:auto !important
// 	height:250px
// 	min-height:250px
// 	padding:0px
// 	width:205px


// /*right*/
// .div_right 
// 	height:auto !important
// 	height:250px
// 	min-height:250px
// 	padding:0px
// 	width:215px


/*margenes*/	
.margen_arr 
	margin-top:10px

.margen_aba 
	margin-bottom:10px

.margen_izq 
	margin-left:10px !important
	margin-left:6px

.margen_der 
	margin-right:10px !important
	margin-right:7px

/*barra*/	
.div_barra 
	background:none
	height:auto
	padding:4px 10px 4px 10px
	clear:left
	position:relative
	z-index:0
	text-align:left


/*status*/
.div_status 
	clear:both
	height:auto
	position:relative
	padding:10px
	border:1px solid #FF0000
	margin-bottom:10px


/*lineas*/
.div_linea 
	clear:both
	float:left
	width:100%
	height:auto
	position:relative
	padding:10px 0
	font-size:1px


/*bloque*/	
.div_bloque 
	float:left
	height:auto
	min-height:150px

/*inner*/
.div_inner 
	padding:10px 4%


/*mensajes*/	
.mensaje_info, 
.mensaje_exito, 
.mensaje_alerta, 
.mensaje_error 
	font-family:Arial
	font-size:13px
	border: 1px solid
	margin: 6% 5%
	padding:15px 10px 15px 50px
	background-repeat: no-repeat
	background-position: 10px center
	color: #000
	background-color: #FFF


.mensaje_info 
	background-image: url(../img/common/info.png)

.mensaje_exito 
	background-image: url(../img/common/exito.png)

.mensaje_alerta 
	background-image: url(../img/common/alerta.png)

.mensaje_error 
	background-image: url(../img/common/error.png)



.div_col_1d1
	width: ($page_width)px;
	margin-right: 0px;
	// padding 0 0 0 0px;
	// background-color #ccc


.div_col_1d2
	width: ($col_1d2)px;
	margin-right: ($col_margin)px;
	// padding 0 0 0 0px
	// background-color #ccc

.div_col_2d2
	width: ($col_2d2)px;
	// background-color #ccc


.div_col_1d3
	width: ($col_1d3)px;
	margin-right: ($col_margin)px;
	// padding 0 0 0 0px
	// background-color #ccc

.div_col_2d3
	width: ($col_2d3)px;
	margin-right: ($col_margin)px;
	// padding 0 0 0 0px
	// background-color #ccc

.div_col_3d3
	width: ($col_3d3)px;
	// padding 0 0 0 0px
	// background-color #ccc


.contenedor_slider_fijo
	position: relative;
	overflow: hidden;


.contenedor_slider_movil
	position: absolute;
	div.slid 
		float: left;
		height: auto;
		text-align: inherit;
		li
			clear: none !important;
			float: left;
			position: relative;
			overflow: hidden;

// *
// 	transition:all 0.5s linear;


/**
 * mixins
 */

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args

border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)





