/*<?php include("../../include.php"); ?>*/

	/*	
		<?php echo $name;?> .area_menu  {  background-image: url(../img/menu_main/div_menu.jpg); }
		<?php echo $name;?> .area_menu  .div_menu_izq, <?php echo $name;?> .area_menu  .div_menu_der { height:29px;width:4px; }
		<?php echo $name;?> .area_menu  .div_menu_izq { background-image: url(../img/menu_main/div_menu_izq.jpg); }
		<?php echo $name;?> .area_menu  .div_menu_der { background-image: url(../img/menu_main/div_menu_der.jpg); }
	*/
		
	<?php echo $name;?> .area_menu  ul { padding:0 0 0 0px; width:100%; background-color:#000; float:left; }
	<?php echo $name;?> .area_menu  ul li { height:auto; margin:0 0px 0 0px; border-right:1px solid #999997; border-bottom:1px solid #999997; 	}					
	<?php echo $name;?> .area_menu  ul li.ultimo { border-right:0; }
	
	/*<?php echo $name;?> .area_menu  ul li .menu_izq, <?php echo $name;?> .area_menu  ul li .menu_der { width:16px; height:29px; }*/
	
	<?php echo $name;?> .area_menu  ul li { 				background-color: #010302;  }
		/*<?php echo $name;?> .area_menu  ul li .menu_izq { background-image: url(../img/menu_main/item_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li .menu_der { background-image: url(../img/menu_main/item_der.jpg); }*/
				
	<?php echo $name;?> .area_menu  ul li.selected,				 <?php echo $name;?> .area_menu  ul li:hover {			background-color: #FFCC00; border-bottom:0; }	
		/*<?php echo $name;?> .area_menu  ul li.selected .menu_izq, <?php echo $name;?> .area_menu  ul li:hover .menu_izq { background-image: url(../img/menu_main/item_selected_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li.selected .menu_der, <?php echo $name;?> .area_menu  ul li:hover .menu_der { background-image: url(../img/menu_main/item_selected_der.jpg); }*/


	<?php echo $name;?> .area_menu  ul li a.line_0 {	color:#FAC903; display:block; font-size:11px; font-weight:bold; text-transform:uppercase;	padding:10px 20px ; font-style:italic;float:left; }
	<?php echo $name;?> .area_menu  ul li.selected a.line_0 { 	color:#333; }
	<?php echo $name;?> .area_menu  ul li:hover a.line_0 { 	color:#333; }
	<?php echo $name;?> .area_menu  ul li a.line_0:hover { 		color:#333; text-decoration:underline; }	

	/*
	<?php echo $name;?> .area_menu  ul li a.line_1 {	color:#FCFCFC; clear:left; display:block; font-size:11px; font-weight:bold; text-transform:uppercase;	padding:3px 19px 0; float:none; }
	<?php echo $name;?> .area_menu  ul li.selected a.line_1 { 	color:#626761; }
	<?php echo $name;?> .area_menu  ul li:hover a.line_1 { 	color:#626761; }
	<?php echo $name;?> .area_menu  ul li a.line_1:hover { 		color:#626761; text-decoration:underline; }	
	*/
	
	