


<?php echo $name;?> .camps {
margin:0px 0 10px; clear:left; float:left;
width:<?php echo $var['fila']['w'];?>;
color:#000;
<?php echo $var['fila']['s'];?>
}

<?php echo $name;?> .legend { 
font-weight:bold;
padding:0;
padding-top:<?php echo $var['legend']['p-t'];?>; 
padding-bottom:<?php echo $var['legend']['p-b'];?>; 
font-size:color:<?php echo $var['legend']['size'];?>;
color:<?php echo $var['legend']['color'];?>;
<?php echo $var['legend']['s'];?>
}

<?php echo $name;?> .camps label.name {
display: block;
color:#000;
font-weight:bold;
width:<?php echo $var['label']['w'];?>;
text-align:<?php echo $var['label']['align'];?>;
<?php echo $var['label']['s'];?>
}
<?php echo $name;?> .camps input.caja,
<?php echo $name;?> .camps select, 
<?php echo $name;?> .camps textarea.caja {
border: 1px solid <?php echo $var['input']['borde'];?>;
background-color:<?php echo $var['input']['bg'];?>;
font-size:12px; padding:1px 1px; color:#000;
<?php echo $var['input']['s'];?>
} 
<?php echo $name;?> .camps input.caja,
<?php echo $name;?> .camps textarea.caja {
width:<?php echo $var['input']['w'];?>;
} 
<?php echo $name;?> .camps select {
padding:0;
}
<?php echo $name;?> .camps textarea.caja {
height:60px;
}
<?php echo $name;?> .submit input.caja { 
padding:0 10px; font-size:12px;
}	


<?php echo $name;?> .mensaje { margin-top:20px; }


<?php echo $name;?> .before { 
font-weight:bold;
padding-top:<?php echo $var['before']['p-t'];?>;
padding-bottom:<?php echo $var['before']['p-b'];?>;
font-size:<?php echo $var['before']['size'];?>; 
color:<?php echo $var['before']['color'];?>;
background:<?php echo $var['before']['bg'];?>;
width:100%;
<?php echo $var['before']['s'];?>
}
<?php echo $name;?> .before span { 

}
<?php echo $name;?> small { clear:left; color:<?php echo $var['small']['color'];?>; padding-left:<?php echo $var['small']['p-l'];?>; display:block; <?php echo $var['small']['s'];?> 
}

