/**

 * BODY

 */

@font-face {
font-family: 'caviar_dreamsregular';
src: url('../css/fonts/caviardreams/caviardreams-webfont.eot');
src: url('../css/fonts/caviardreams/caviardreams-webfont.eot') format('embedded-opentype'),
url('../css/fonts/caviardreams/caviardreams-webfont.woff') format('woff'),
url('../css/fonts/caviardreams/caviardreams-webfont.ttf') format('truetype'),
url('../css/fonts/caviardreams/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
font-weight: normal;
font-style: normal;
margin: 0 auto;
letter-spacing: -1px;
font-family: 'caviar_dreamsregular';
}


body { background: url("http://www.metacritic.com/images/layout/bg.png") repeat scroll center 78px #010101 !important; }



.main_content { padding:0 10px; }



/**

 * HEADER

 */

.logo_panel {

    margin-bottom: 15px;

    margin-top: 10px;

}

a.link_header {

	margin-top: 22px;

	color: #CBCBCB;

}

#menumenu a {

    color: #6F6F6F;

}    

/**
 * MENU
 */

ul.ul_menus li a {

	font-size: 12px;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,;

	background: #AEBC91;

	color: #054309  !important;

}



.menus a.selected, 

ul.ul_menus li.selected {

    background-color: #F19242;

}



ul.ul_menus li.padre a,

ul.ul_menus li.selected a {

    color: #FFF !important;

}



ul.ul_menus li:hover {

	text-decoration: none !important;

}

ul.ul_menus a:hover {

	text-decoration: underline !important;

}

ul.ul_menus li.seccion b {

	letter-spacing: 1px;

}



ul.ul_menus {

	width: 180px;

}

.div_bloque_cuerpo {

	margin-left: 190px;

}

ul.ul_menus li.seccion b {

    color: #918F8F;

    font-size: 11px;

    font-weight: bold;

}

/**

 * FORM

 */

.titulo_formulario {

    color: #565656;

}   

/**

 * LOGIN

 */

.modulo_login ul.ul_menus {

	display:none;

}

.modulo_login .div_bloque_cuerpo {

    margin-left: 23%;

    margin-top: 23px;

}

/*body,*/
a.link_header,
.bloque_titulo .titulo, .bloque_titulo .titulo a,
ul.ul_menus li a {
    font-family: 'caviar_dreamsregular';
    /*font-size: 17px;*/
}
.lead {
margin-bottom:0;
}


.logo_panel img {
    height: 61px;
}

a.link_header {
    color: #000;
    font-size: 40px;
    margin-top: 35px;
}    


/**/

#cart table {
    margin-right: 10px;
    margin-top: 73px;
    width: 95%;
}