/*<?php include("../../include.php"); ?>*/

	<?php echo $name;?> { background:#FFF url(bg.jpg) repeat-y; height:auto !important; 
								 height:328px; min-height:328px;}
	<?php echo $name;?> .div_borde{ border:0;		
	}
	<?php echo $name;?> .arriba_izquierda {display:none;}
	<?php echo $name;?> .arriba_derecha {display:none;}	
	<?php echo $name;?> .abajo_izquierda {display:none;}
	<?php echo $name;?> .abajo_derecha {display:none;}	

	<?php echo $name;?> .barra_arriba { 
									height:auto !important; height:16px; min-height:16px; 
									padding:15px 0px 0px 30px; 
									font-size:15px; font-weight:bold; text-transform:uppercase; position:relative; 
	 								color:#2A4A73;
	 								font-weight:bold; 
									background-color:none;
									}	
	 
	<?php echo $name;?> .barra_abajo {height:31px; background-color:none;left:1px; right:1px; bottom:1px !important; width:auto !important; width:100%;}
	


		 	