
/*@import url(http://fonts.googleapis.com/css?family=Arial+Narrow);*/
/*@import url(http://fonts.googleapis.com/css?family=ABeeZee);*/

// @import url(http://fonts.googleapis.com/css?family=Roboto); temporal

// @font-face
//   font-family: "PTN77F"
//   src: url(fonts/PTN77F.ttf) format("truetype")

// @font-face
//   font-family: "PTN57F"
//   src: url(fonts/PTN57F.ttf) format("truetype")

// @font-face
//   font-family: 'caviar_dreamsregular'
//   src: url('../css/fonts/caviardreams/caviardreams-webfont.eot')
//   src: url('../css/fonts/caviardreams/caviardreams-webfont.eot') format('embedded-opentype'),
// url('../css/fonts/caviardreams/caviardreams-webfont.woff') format('woff'),
// url('../css/fonts/caviardreams/caviardreams-webfont.ttf') format('truetype'),
// url('../css/fonts/caviardreams/caviardreams-webfont.svg#caviar_dreamsregular') format('svg')
//   font-weight: normal
//   font-style: normal
//   margin: 0 auto
//   letter-spacing: -1px
//   font-family: 'caviar_dreamsregular'

@font-face
  font-family: 'icomoon'
  src: url('../css/fonts/icomoon/icomoon.eot?hd7pdo')
  src: url('../css/fonts/icomoon/icomoon.eot?#iefixhd7pdo') format('embedded-opentype'),
		url('../css/fonts/icomoon/icomoon.woff?hd7pdo') format('woff'),
		url('../css/fonts/icomoon/icomoon.ttf?hd7pdo') format('truetype'),
		url('../css/fonts/icomoon/icomoon.svg?hd7pdo#icomoon') format('svg')
  font-weight: normal
  font-style: normal

