
	.bloque_cuadro_0 .arriba_izquierda {width:10px; height:10px; background-image: url(arriba_izquierda.gif);}
	.bloque_cuadro_0 .arriba_derecha {width:10px; height:10px; background-image: url(arriba_derecha.gif);}	
	.bloque_cuadro_0 .abajo_izquierda {width:10px; height:10px; background-image: url(abajo_izquierda.gif);}
	.bloque_cuadro_0 .abajo_derecha {width:10px; height:10px; background-image: url(abajo_derecha.gif);}	
	.bloque_cuadro_0 .barra_abajo {height:31px; background-color:#FFF;left:1px; right:1px; bottom:1px !important; width:auto !important; width:100%;}
		