/*<?php include("../../include.php"); ?>*/


	<?php echo $name;?> { background-color:#FFF; }
	<?php echo $name;?> .div_borde{ border:1px solid #DEDEDE;	height:auto !important; 
								 height:249px; min-height:249px;	
	}
	<?php echo $name;?> .arriba_izquierda {width:10px; height:10px; background-image: url(arriba_izquierda.png);}
	<?php echo $name;?> .arriba_derecha {width:10px; height:10px; background-image: url(arriba_derecha.png);}	
	<?php echo $name;?> .abajo_izquierda {width:10px; height:10px; background-image: url(abajo_izquierda.png);}
	<?php echo $name;?> .abajo_derecha {width:10px; height:10px; background-image: url(abajo_derecha.png);}	
	<?php echo $name;?> .barra_abajo {height:31px; background-color:#FFF;left:1px; right:1px; bottom:1px !important; width:auto !important; width:100%;}
	

	<?php echo $name;?> .barra_arriba { 
									height:auto !important; height:16px; min-height:16px;
									padding:5px 0px 5px 10px; 
									position:relative; 
	 /*background-color:#fff; color:#000;*/ 
	 border:1px solid #ccc; border-bottom:0;
	 font-size:14px;  text-transform:uppercase;
	 font-weight:bold; 
	 }	
	 

		 	