/*<?php include("../../include.php"); ?>*/


/*titulo,fecha,vervideo*/

<?php echo $name;?> .listado_items .vacio { padding-left:0px; }

/*paginacion*/
	<?php echo $name;?> .listado_paginacion { text-align:right; }
	<?php echo $name;?> .listado_paginacion, 
	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { font-size:13px; text-transform:lowercase; color:#999; }

	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { margin:0 8px; }	
	
	<?php echo $name;?> .listado_paginacion .total { float:left; margin-left:14px; }
	
	<?php echo $name;?> .listado_paginacion .linkpagselec	{
	color:#999; font-weight:bold;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag {
	font-weight:bold; color:#ccc; text-decoration:underline;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag:hover {
	color:#fff;
	}


/**/


<?php echo $name;?> ul li table {
position:absolute; left:10px; top:10px;
width:120px; height:90px;
padding:0px; margin:0px; border:1px solid #D8D8D8;
}
<?php echo $name;?> ul li a.titulo {
position:absolute;left:140px; top:10px; width:200px; height:15px;
color:#343434; font-size:14px; font-weight:bold; text-align:left;
}
<?php echo $name;?> ul li div.fecha{
position:absolute;left:140px; top:29px;width:200px; height:15px;
font-size:14px; color:#696F7F; text-align:left;
}
<?php echo $name;?> ul li a.vervideo {
position:absolute;left:140px; top:47px;width:200px; height:15px;
color:#333333; font-size:14px; text-decoration:underline; text-align:left;
}

	<?php echo $name;?> .bloque_pie a {color:#000; font-weight:bold;}



