
<?php echo $name;?> {
	background-color:<?php echo $var['fila']['bg'];?>;
	height:<?php echo $var['fila']['h'];?>;
	padding-top:<?php echo $var['fila']['p-t'];?>;
	padding-bottom:<?php echo $var['fila']['p-b'];?>;
	padding-left:<?php echo $var['fila']['p-lados'];?>;
	padding-right:<?php echo $var['fila']['p-lados'];?>;
	<?php echo $var['fila']['s'];?>
}
/*
<?php echo $name;?> strong {
	text-shadow:1px 1px #000;
}
*/
<?php echo $name;?> .info { text-align:<?php echo $var['info']['align'];?>; padding-bottom:<?php echo $var['info']['p-b'];?>; }
<?php echo $name;?> .info a { text-decoration:underline; }
<?php echo $name;?> .info,
<?php echo $name;?> .info a { color:<?php echo $var['info']['color'];?>; }
<?php echo $name;?> .info a:hover { color:<?php echo $var['info']['color-sel'];?>; }


<?php echo $name;?> .menu { text-align:<?php echo $var['menu']['align'];?>; padding-bottom:<?php echo $var['menu']['p-b'];?>; }
<?php echo $name;?> .menu h2 { display:inline; }
<?php echo $name;?> .menu a { text-decoration:underline; }
<?php echo $name;?> .menu,
<?php echo $name;?> .menu a { color:<?php echo $var['menu']['color'];?>; <?php echo $var['menu']['s'];?> }
<?php echo $name;?> .menu a:hover { color:<?php echo $var['menu']['color-sel'];?>; }



<?php echo $name;?> .footer_info { font-size:<?php echo $var['fila']['size'];?>; }
<?php echo $name;?> .footer_info a { color:<?php echo $var['fila']['color'];?>; <?php echo $var['fila']['s'];?> }

<?php echo $name;?> .footer_by { margin-top:10px; height:auto; display:block; }
<?php echo $name;?> .footer_by a{ color:<?php echo $var['by']['color'];?>; font-size:<?php echo $var['by']['size'];?>; }
<?php echo $name;?> .footer_by a:hover{ color:<?php echo $var['by']['color-sel'];?>; }

<?php echo $name;?> .simbolo { font-family:trebuchet MS; }

