
div.segunda_linea, .div_bloque_cuerpo, div.loading { width:84%; clear:left;  }


div.loading { clear:right; float:right;  }

.div_bloque_cuerpo { height:auto; float:right; clear:none; margin-top:5px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; border-bottom:1px solid #cccccc; margin-bottom:4px; }

.cabecera { 
clear:left;
float: left !important;
float:none;
width: 100%; 
}

ul.ul_menus { width:15%; float:left; margin-top:0px; margin-bottom:10px; }

ul.ul_menus li { width:100%; padding-left:0 !important; padding-right:0 !important; }

ul.ul_menus li a { padding:0 3px; }

.foot { float:none; padding-left:0px; padding-right:0px; margin:15px 0px 6px 0px; clear:both; position:relative; }

.ul_menus li span.menu_bi { display:block; }

.ul_menus li span.menu_bd { display:block; }

.edicion_indices div { width:48%; }

.bloque_listado { 
width:100%; 
margin-left:0px !important; 
margin-left:-70px; /* correccion para IE6 */
clear:left; float:left;
}

.edicion_indices {
float:none;
}