/*<?php include("../../include.php"); ?>*/


	<?php echo $name;?> .area_menu  { background-color:#7591B8; background-image: url(div_menu.jpg);  height:38px; }
		/*<?php echo $name;?> .area_menu  .div_menu_izq, <?php echo $name;?> .area_menu  .div_menu_der { height:29px;width:4px; }
		<?php echo $name;?> .area_menu  .div_menu_izq { background-image: url(../img/menu_main/div_menu_izq.jpg); }
		<?php echo $name;?> .area_menu  .div_menu_der { background-image: url(../img/menu_main/div_menu_der.jpg); }*/
		
	<?php echo $name;?> .area_menu  ul { padding:0 10px 0 5px; float:right; }
	<?php echo $name;?> .area_menu  ul li { height:33px; margin:0 0px 0 0px; }					
	<?php echo $name;?> .area_menu  ul li.ultimo { margin:0; }
	
	<?php echo $name;?> .area_menu  ul li .menu_izq, <?php echo $name;?> .area_menu  ul li .menu_der { width:16px; height:33px; }
	
	<?php echo $name;?> .area_menu  ul li { 				 background-image: url(item_bg.jpg); }
		<?php echo $name;?> .area_menu  ul li .menu_izq { background-image: url(item_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li .menu_der { background-image: url(item_der.jpg); }
				
	<?php echo $name;?> .area_menu  ul li.selected,				 <?php echo $name;?> .area_menu  ul li:hover {			background-image: url(item_selected_bg.jpg); }	
		<?php echo $name;?> .area_menu  ul li.selected .menu_izq, <?php echo $name;?> .area_menu  ul li:hover .menu_izq { background-image: url(item_selected_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li.selected .menu_der, <?php echo $name;?> .area_menu  ul li:hover .menu_der { background-image: url(item_selected_der.jpg); }		

	<?php echo $name;?> .area_menu  ul li a.line_0 {			font-size:11px; color:#43567C; font-weight:bold; text-transform:uppercase;	padding:10px 19px 9px; font-style:italic;  }
	<?php echo $name;?> .area_menu  ul li.selected a.line_0 { 	color:#FFF; }
	<?php echo $name;?> .area_menu  ul li a.line_0:hover { 		color:#FFF; text-decoration:underline; }	
	
	