/*<?php include("../../include.php"); ?>*/


	<?php echo $name;?> .area_menu  { background-image: url(div_menu.jpg); }
		/*<?php echo $name;?> .area_menu  .div_menu_izq, <?php echo $name;?> .area_menu  .div_menu_der { height:29px;width:4px; }
		<?php echo $name;?> .area_menu  .div_menu_izq { background-image: url(../img/menu_main/div_menu_izq.jpg); }
		<?php echo $name;?> .area_menu  .div_menu_der { background-image: url(../img/menu_main/div_menu_der.jpg); }*/
		
	<?php echo $name;?> .area_menu  ul { padding:0 0 0 5px; }
	<?php echo $name;?> .area_menu  ul li { height:29px; margin:0 8px 0 0px; 	}					
	<?php echo $name;?> .area_menu  ul li.ultimo { margin:0; }
	
	<?php echo $name;?> .area_menu  ul li .menu_izq, <?php echo $name;?> .area_menu  ul li .menu_der { width:16px; height:29px; }
	
	<?php echo $name;?> .area_menu  ul li { 				 background-image: url(item_bg.jpg); }
		<?php echo $name;?> .area_menu  ul li .menu_izq { background-image: url(item_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li .menu_der { background-image: url(item_der.jpg); }
				
	<?php echo $name;?> .area_menu  ul li.selected,				 <?php echo $name;?> .area_menu  ul li:hover {			background-image: url(item_selected_bg.jpg); }	
		<?php echo $name;?> .area_menu  ul li.selected .menu_izq, <?php echo $name;?> .area_menu  ul li:hover .menu_izq { background-image: url(item_selected_izq.jpg); }
		<?php echo $name;?> .area_menu  ul li.selected .menu_der, <?php echo $name;?> .area_menu  ul li:hover .menu_der { background-image: url(item_selected_der.jpg); }		

	<?php echo $name;?> .area_menu  ul li a.line_0 {			font-size:11px; color:#000; font-weight:bold; text-transform:uppercase;	padding:10px 19px 0 19px; }
	<?php echo $name;?> .area_menu  ul li.selected a.line_0 { 	color:#000; }
	<?php echo $name;?> .area_menu  ul li a.line_0:hover { 		color:#CC4387; text-decoration:underline; }	
	
	