/*<?php include("../../include.php"); ?>*/


<?php echo $name;?> .listado_items .vacio { padding-left:0px; }

/*paginacion*/
	<?php echo $name;?> .listado_paginacion { text-align:right; }
	<?php echo $name;?> .listado_paginacion, 
	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { font-size:13px; text-transform:lowercase; color:#999; }

	<?php echo $name;?> .listado_paginacion .linkpagselec,
	<?php echo $name;?> .listado_paginacion a.linkpag { margin:0 8px; }	
	
	<?php echo $name;?> .listado_paginacion .total { float:left; margin-left:14px; }
	
	<?php echo $name;?> .listado_paginacion .linkpagselec	{
	color:#999; font-weight:bold;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag {
	font-weight:bold; color:#ccc; text-decoration:underline;
	}
	<?php echo $name;?> .listado_paginacion a.linkpag:hover {
	color:#fff;
	}

/*listado*/

<?php echo $name;?> .listado_item  { 
position:relative;
height:auto !important; height:50px; min-height:50px; float:none; clear:left;
padding:0;
margin-bottom:20px;
border-bottom:1px dashed #fff;
padding-bottom:10px;
}
<?php echo $name;?> .listado_item_con_foto { 
padding-left:99px;
height:auto !important; height:63px; min-height:63px; 
}
<?php echo $name;?> .listado_item a.foto {
position:absolute; width:80px; height:60px; top:0px; left:5px ;
text-align:center; border:1px solid #DADADA;
overflow:hidden;
}
<?php echo $name;?> .listado_item a.foto:hover { 
border:1px solid #999;
}
<?php echo $name;?> .listado_item .titulo {
font-size:11px;color:#000033; font-weight:normal; margin-bottom:6px; text-transform:uppercase;
}
<?php echo $name;?> .listado_item .texto {
font-size:14px; color:#555;
text-align:justify;
}
<?php echo $name;?> .listado_item .nombre {
font-size:12px;color:#ccc; margin-bottom:6px;
}
<?php echo $name;?> .listado_item .fecha {
color:#ccc;
}







