/*<?php include("../../include.php"); ?>*/

   <?php echo $name;?>   .bloque_tabla { position:relative; width:auto; height:auto; }
   <?php echo $name;?>   .bloque_tabla .switch { right:0px; top:0px; position:absolute; color:#F47D2F; text-decoration:underline; font-weight:bold; }
   <?php echo $name;?>   .bloque_tabla table { width:100%; padding:0px; margin:0px; border:1px solid #CCC; margin-top:3px;   }
   <?php echo $name;?>   .bloque_tabla table .izq { color:inherit; text-align:left; padding:3px 20px; white-space: nowrap;}
   <?php echo $name;?>   .bloque_tabla table thead th { font-weight:bold; color:#FFF !important; text-align:center; background-color:#999; font-size:12px; padding:4px 0;  }
   <?php echo $name;?>   .bloque_tabla table tbody td { font-weight:normal; color:inherit; text-align:center; empty-cells:show; padding:3px 0px; }
   <?php echo $name;?>   .bloque_tabla table tbody tr.par { background-color:#EDEDED;}   
   <?php echo $name;?>   .bloque_tabla table tbody tr.impar { background-color:#FFF;}   
